@import "../abstracts/include";

.list {
    &__wrapper{
        width: 100%;
        background-color: #1769aa;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__container {
        width: inherit;
        display: flex;
        justify-content: space-around;
        list-style: none;
        @include BreakPoint(sm){
            flex-wrap: wrap;
            justify-content:flex-start;
        }
        }
    
    &__box {
        padding: 32px 0 32px 0;
        width: 45%;
        margin-left: 16px;
    }
    &__item {
        padding-bottom: 8px;
        font-size: 18px;
        color: rgba(254, 254, 254, 0.8);
        &--first {
            padding-bottom: 16px;
            font-weight: bold;
            font-size: 18px;
            color: rgba(254, 254, 254, 1);
        }
    }
    &--bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__copyright {
        color: #fefefe;
        font-size: 14px;
        padding: 4px 0 16px 0;
    }
    &__name {
        color: #fefefe;
        font-size: 14px;
    }
}